.padding{
    padding: 20px;
}

.padding-lg{
    padding: 45px;
}

header {

}

.head-bar{
    background: #2eca7f;
    margin-bottom: 20px;
    /*position: fixed;*/
    display: inline-block;
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    height: 50px;
}

.head-bar .text-left{
    padding-left: 20px;
}

.head-bar .head-bar__header .head-bar__header--name{
    padding-top: 10px;
    font-size: 20px;
    color: white;
}
/*endof header definition*/

.profile-card{
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow:0px 15px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow:0px 15px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
}

.profile-card__header{
    position: relative;
    background: #2eca7f;
    background-image: url(./public/img/main_bg.png);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat
}

.profile-card .profile-card__header .profile-card__photo--wrapper {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: -50px;
    transition: all 0.3s ease-in-out;
}

.profile-card .profile-card__header .profile-card__photo--wrapper:hover {
    -webkit-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -o-transform: translateY(-9px);
    transform: translateY(-9px);
    -webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);

  }
.profile-card__photo--wrapper img{
    width: 200px;
    height: auto;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    
}

.profile-card__head--info{
    margin: 0 auto;
}


.profile-card__head--info-name{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile-card__head--info-name h2{
    font-size: 400%;
}

.profile-card__head--info-title{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
}

.profile-card__body{
    margin-top: 0px;
}

.profile-card__body--about_me span{
    color: goldenrod;
}

.profile-card__body--info .title{
    font-size: 110%;
    font-weight: 600;
}

.profile-card__body--info .value{
    color: gray;
}

a{
    color: #2eca7f;
}
footer {
    font-size: 80%;
}